.notificaciones-container {
    padding: 20px;
    background-color: var(--panel-card);
    border-radius: 8px;
  }
  
  .panel-title {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
    color: var(--panel-title-color);
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border: 1px solid var(--panel-border);
    border-radius: 5px;
  }
  
  .historial-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .historial-item {
    padding: 10px;
    background-color: var(--panel-light);
    margin-bottom: 10px;
    border: 1px solid var(--panel-border);
    border-radius: 5px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .clear-button {
    background-color: var(--panel-warning);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
  }

  .clear-button:hover {
    background-color: var(--panel-danger);
  }
  
  .back-button {
    background-color: var(--panel-primary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: var(--panel-secondary);
  }
  